*{padding: 0; margin: 0;}
*{box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
ul,ol{list-style: none;}
a{color: inherit; text-decoration: none;}
body{
    font-size: 12px;
    line-height: 1.5;
}
input{font: inherit; outline: none;}

/* layout */

.topNavBar{
    height: 60px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.topNavBar .logo{
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-top: -3px;
}

.topNavBar .logo img{
    height: 20px;
    width: 117px;
}

.topNavBar .logo span{
    font-size: 16px;
    color: #999;
}

.topNavBar .logo span::before{
    content: '';
    display: inline-block;
    height: 14px;
    width: 1px;
    margin: 0 8px 0 8px;
    background-color: #E7EAF3;
}

.page{
    display: flex;
    height: 100vh;
}

.page > aside{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    background-color: #FAFAFA;
}

.page > main{
    flex-grow: 1;
    background-color: #FAFAFA;
    margin-top: 60px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page > aside > .newSong{
    font-size: 16px;
    padding: 15px 10px;
    text-align: center;
    background-color: white;
    color: #333333;
    border: 1px solid #ddd;
    cursor: pointer;
}

.page > aside > .newSong > .icon{
    display: inline-block;
}

.page > aside > .newSong:hover{
    color: #E93733;
}


.page > aside > .newSong.active{
    background-color: #ddd;
    color: #E93733;
    
}

.page > aside .songList-container{
    flex-grow: 1;
    overflow: auto;
    background-color: white;
}

.page > aside .songList-container::-webkit-scrollbar{
    width: 5px;
}              
.page > aside .songList-container::-webkit-scrollbar-button{
    display: none;
}     

.page > aside .songList-container::-webkit-scrollbar-thumb{
    background-color: #E7EAF3;
    border-radius: 5px;
}

.page > aside  .songList{
    border-top: 1px solid #999;
}

.page > aside  .songList > li{
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    height: 60px;
    align-items: center;
    cursor: pointer;
}

.page > aside  .songList > li > .wrapper{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 131px;
}

.page > aside  .songList > li > .wrapper > span{
    font-weight: bold;
}

.page > aside  .songList > li:hover > .wrapper > span{
    color: #E93733;
}

.page > aside  .songList > li.active > .wrapper > span{
    color: #E93733;
}

.page > aside  .songList > li > .wrapper > .introduction{
    padding-top: 3px;
}

.page > aside  .songList > li > .wrapper > .introduction > span{
    color: #777;
    padding-left: 3px;
}

.page > aside  .songList > li.active{
    background-color: #d4d4d4;
}

.page > aside  .songList > li.pre-active{
    margin: 0;
    padding: 10px 20px;
}

.page > main > .all-wrapper{
    width: 998px;
    height: 460px;
    overflow: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(63, 58, 58, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page > main  .wrapper{
    display: none;
}

.page > main  .wrapper > p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 35px;
    color: #999999;
}

.page > main  .wrapper.show{
    display: block;
}

.page > main  .wrapper > .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #ddd;
    border-radius: 8px;
    width: 400px;
    height: 300px;
}

.page > main  .wrapper > .form > .row{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.page > main  .wrapper > .form > .row.active{
    font-size: 16px;
    margin-left: calc(4em + 5px);
}

.page > main  .wrapper > .form > .row > label{
    text-align: right;
    margin-right: 5px;
    width: 4em;
    font-size: 16px;
}

.page > main  .wrapper > .form > .row > input[type="text"]{
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #333;
    height: 30px;
}

.page > main  .wrapper > .form > .row > input[type="submit"]{
    cursor: pointer;
    height: 30px;
    width: 149px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #E93733;
    color: #E93733;
}

.page > main  .wrapper > .form > .row > input[type="submit"]:hover{
    background-color: #E93733;
    color: #fff;
}

.page > main  .upload{
    display: none;
    width: 100%;
    height: 100%;
}

.page > main  .upload.show{
    display: block;
}

.page > main  .upload > #container{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    
}

.page > main  .upload > #container > #pickfiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
}

.page > main  .upload > #container > #pickfiles > span{
    font-size: 23px;
    font-family: bold;
}

.page > main  .upload > #container > #pickfiles > p{
    font-size: 16px;
    color: #666666;
}

.page > main  .upload img{
    width: 90px;
    height: 94px;
    margin-bottom: 30px;
}

.page > main .upload > .progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.page > main .upload > .progress p{
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.page > main .upload > .progress > span{
    margin-left: 10px;
    color: #B29999;
}

.page > main  .upload  .progressBar{
    height: 20px;
    width: 705px;
    overflow: hidden;
    background-color: #E7EAF3;
    border-radius: 10px;
}

.page > main  .upload  .progressBar > .inside{
    height: 100%;
    width: 100%;
    transform: translate(-100%);
    background-color: #F06B67;
    transition: all 1s;
    border-radius: 10px;
}

.icon,
.icon-music{
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

 .icon{
    width: 1em; height: 1em;
 }

 .icon-music{
    width: 25px; height: 25px;
    margin-right: 10px;
 }