*{padding: 0; margin: 0;}
*{box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
ul,ol{list-style: none;}
a{color: inherit; text-decoration: none;}
body{
    font-size: 12px;
    line-height: 1.5;
}
input{font: inherit; outline: none;}

/* layout */

.topNavBar{
    height: 60px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.topNavBar .logo{
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-top: -3px;
}

.topNavBar .logo img{
    height: 20px;
    width: 117px;
}

.topNavBar .logo span{
    font-size: 16px;
    color: #999;
}

.topNavBar .logo span::before{
    content: '';
    display: inline-block;
    height: 14px;
    width: 1px;
    margin: 0 8px 0 8px;
    background-color: #E7EAF3;
}

.page{
    display: flex;
    height: 100vh;
}

.page > aside{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.page > main{
    flex-grow: 1;
    background-color: #FAFAFA;
    padding-left: 20px;
    margin-top: 60px;
}

.page > aside > .newSong{
    padding: 10px;
    text-align: center;
}

.page > aside > .newSong.active{
    background-color: #d4d4d4;
}

.page > aside .songList-container{
    flex-grow: 1;
    overflow: auto;
}

.page > aside .songList-container::-webkit-scrollbar{
    width: 5px;
}              
.page > aside .songList-container::-webkit-scrollbar-button{
    display: none;
}     

.page > aside .songList-container::-webkit-scrollbar-thumb{
    background-color: #E7EAF3;
    border-radius: 5px;
}

.page > aside  .songList{
    border-top: 1px solid #999;
}

.page > aside  .songList > li > div{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.page > aside  .songList > li.active{
    background-color: #d4d4d4;
}

.page > aside  .songList > li.pre-active > div{
    margin: 0;
    padding: 10px 20px;
}

.page > main > .form{
    padding-top: 20px;
}

.page > main > .form > .row{
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.page > main > .form > .row.active{
    margin-left: calc(4em + 5px);
}

.page > main > .form > .row > label{
    text-align: right;
    margin-right: 5px;
    width: 4em;
}

.page > main > .form > .row > input[type="text"]{
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #333;
    height: 30px;
}

.page > main > .form > .row > input[type="submit"],
.page > main > .form > .row > input[type="button"],
.page > main > .form > .row > button{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #333;
}

.page > aside > .upload > #container{
    border-radius: 5px;
    width: 200px;
    border: 2px dashed #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page > aside > .upload > #container > #pickfiles{
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
}