*{padding: 0; margin: 0;}
*{box-sizing: border-box;}
*::after, *::before{box-sizing: border-box;}
li{list-style: none;}
body{ font-size: 15px; color: #333333;}
html{background-color: #FCFCFD;}

.topBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.topBar > .top{
    background-color: #D43C33;
    height: 64px;
    padding: 0 10px;
    position: relative;
}

.topBar > .top > svg,
.topBar > .top > span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.topBar > .top > svg{
    height: 25px;
    width: 142px;
}

.topBar > .top > span{
    right: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 5px 10px;
}

.topBar > .tabs{
    height: 40px;
    background-color: #FFFFFF;
    display: flex;
    box-shadow: 0 0 1px rgba(0 ,0 ,0 ,0.1);
}

.topBar > .tabs > li{
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.topBar > .tabs > li > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    position: relative;
}

.topBar > .tabs > li.active{
    color: #D43C33;
}

.topBar > .tabs > li.active > div::after{
    content: '';
    display: block;
    width: 100%;
    height: 0;
    border: 1px solid #D43C33;
    position: absolute;
    bottom: 0;
    left: 0;
}

.recommend > p{
    margin: 17px 0;
    padding-left: 9px;
    font-size: 17px;
    color: #333333;
    line-height: 1.2;
    position: relative;
}

.recommend > p::before{
    content: '';
    display: block;
    height: 16px;
    width: 2px;
    background-color: #D43C33;
    position: absolute;
    bottom: 0;
    left: 0;
}

.recommend .songList{
    padding-bottom: 6px;
}

.recommend > .songList > ul{
    margin-bottom: 16px;
}

.recommend > .songList > ul > li{
    float: left;
    width: 33.3%;
    font-size: 13px;
}

.recommend > .songList > ul > li > img{
    width: 100%;
}

.recommend > .songList > ul > li:nth-child(1){
    padding-right: 2px;
}

.recommend > .songList > ul > li:nth-child(2){
    padding-right: 1px;
    padding-left: 1px;
}

.recommend > .songList > ul > li:nth-child(3){
    padding-left: 2px;
}

.recommend  .clearfix:after{
    content: '';
    display: block;
    clear: both;
}

.recommend > .songList > ul > li > p{
    padding: 2px 2px 0 6px;
    height: 2.5em;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.recommend > .songs > a{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EFEFF0;
    font-size: 17px;
    position: relative;
    margin-left: 10px;
    padding: 6px 0;
    text-decoration: none;
    color: #333333;
}

.recommend > .songs > a > .song > .name,
.hotSong .songs > a  .song > .name{
    line-height: 25px;
}

.recommend > .songs > a > .song > p,
.hotSong  .songs > a  .song > p{
    font-size: 12px;
    line-height: 18px;
    color: #888;
    height: 18px;
}

.recommend > .songs > a > .song > p > span,
.hotSong  .songs > a  .song > p > span{
    width: 12px;
    height: 8px;
    background-size: 160px;
    display: inline-block;
    background-image: url("../img/index-icon.png");
}

.recommend > .songs > a .play,
.hotSong  .songs > a .play{
    position: absolute;
    right: 0;
    background-image: url(../img/index-icon.png);
    background-position: -24px 0;
    background-size: 166px 97px;
    height: 22px;
    width: 22px;
    margin: 0 10px;
}

.recommend > footer{
    background-image: url(../img/footer.png);
    background-position: center center;
    background-size: cover;
}

.recommend > footer > svg{
    width: 230px;
    height: 44px;
    display: block;
    margin: 0 auto;
    height: 150px;
}

.recommend,
.hotSong,
.search{
    display: none;
    padding-top: 104px;
}

.recommend.active,
.hotSong.active,
.search.active{
    display: block;
}

main > .hotSong > .topMessage{
    position: relative;
    height: 161px;
    width: 100%;
}

main > .hotSong > .topMessage > img{
    height: 100%;
    width: 100%;
}

main > .hotSong > .topMessage > .rankImg{
    position: absolute;
    top: 0;
    left: 0;
    height: 161px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0 ,0 ,0 ,0.2);
}

main > .hotSong > .topMessage > .rankImg > .hotImg{
    background-image: url(../img/index-icon.png);
    width: 142px;
    height: 67px;
    background-position: 20px 20px;
    background-repeat: no-repeat;
    background-size: 166px;
    background-position: -24px -30px;
}

main > .hotSong > .topMessage > .rankImg > .hotTime{
    color: white;
    margin-top: 10px;
    font-size: 12px;
}

.hotSong  .songs > a{
    display: flex;
    text-decoration: none;
}

.hotSong  .songs > a > .mianMessage{
    border-bottom: 1px solid #EFEFF0;
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 6px 0;
    color: #333333;
    position: relative;
    width: 100%;
}

.hotSong  .songs > a > .number{
    color: #999;
    width: 28px;
    margin: 0 10px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotSong  .songs > a:nth-child(1) > .number,
.hotSong  .songs > a:nth-child(2) > .number,
.hotSong  .songs > a:nth-child(3) > .number{
    color: #df3436;
}

.hotSong .checkAll p{
    color: #999;
    text-align: center;
    padding: 15px 0;
}

.search{
    text-align: center;
    padding-top: 134px;
}