*{padding: 0; margin: 0;}
*{box-sizing: border-box;}
*{font-family: Helvetica, sans-serif;}
a{text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
body{height: 100vh; width: 100vw;}

.page{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(about:blank);
    transform: scale(1.5);
    background-position: center center;
    background-size: cover;
    filter: blur(15px);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 17px;
    z-index: 2;
}

.needle{
    width: 25.6%;
    max-width: 110px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-15px);
    z-index: 3;
}

.wrapper{
    width: 78.9%;
    max-width: 342px;
    position: absolute;
    top: 10.5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.wrapper .cd{
    position: relative;
}

.wrapper .cd .dist{
    width: 100%;
}

.wrapper .cd .light{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper .cd .dist-cover{
    width: 62%;
    border-radius: 50%;
    max-width: 212px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.wrapper .cd .cover{
    width: 100%;
    border-radius: 50%;
    animation: rotate 20s infinite linear;
    animation-play-state: paused;
}

.wrapper .cd .dist-cover .play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30%;
}

.wrapper .cd .dist-cover.playing .play{
    display: none;
}

.wrapper .cd .dist-cover.playing .cover{
    animation-play-state: running;
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.information{
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 35px;
    padding-top: 20px;
    width: 100vw;
}

.information h2{
    font-size: 15px;
    font-weight: 400;
    color: #fefefe;
    text-align: center;
}

.information h2 span{
    font-size: 13px;
    color: hsla(0,0%,100%,.6);
}

.information .lyrics{
    height: 84px;
    padding-top: 28px;
    font-size: 14px;
    overflow: hidden;
    margin-top: 14px;
    color: #AEABAC;
}

.information .lyrics p{
    text-align: center;
    line-height: 28px;
}

.information .lyrics .lyrics-wrapper{
    transition: all 0.3s;
}

.information .lyrics p.highlight{
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 360px){
    .information h2{
        font-size: 18px;
    }
    .information h2 span{
        font-size: 16px;
    }
    .information .lyrics{
        font-size: 16px;
    }
}

@media screen and (min-height: 736px){
    .wrapper{
        top: 70px;
    }
}

footer{
    position: fixed;
    bottom: 10px;
    left: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    font-size: 18px;
    height: 40px;
}

footer .open,
footer .download{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #d33a31;
    border-radius: 40px;
}

footer .open{
    margin-left: 10px;
    margin-right: 5px;
    color: #d33a31;
}

footer .download{
    outline: none;
    margin-right: 10px;
    margin-left: 5px;
    color: #fff;
    background-color: #d33a31;
}